.App {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.board{
    display: flex;
    flex-direction: column;
    border: 1px solid #CCD3EC;
    margin: 40px;
    padding: 20px;
}

.card{
  border: 1px solid #CCD3EC;
  padding: 10px;
  margin: 10px;
}

.card:hover{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) -10.42%, rgba(133, 198, 243, 0.25) 110.82%);
  cursor: pointer;
}